!!! Strict
%html
  %head
    %title Shareup
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"

    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js'
    = mp3_player_headers without_swfobject: true
    = csrf_meta_tags
  %body
    =render :partial => "shared/header"
    .container
      =render :partial => "shared/errors"
      = yield
      =render :partial => "shared/footer"
